@import "/home/adel/.config/waybar/colors/mocha.css";

* {
    border: none;
    border-radius: 0px;
    font-family: SauceCodePro Nerd Font;
    font-size: 10pt;
    font-style: normal;
    min-height: 0;
}




window#waybar {
    background-color: alpha(@surface0, 0.6);
/*  background-color: alpha(@yellow, 0.7);*/
    color: @crust;
}

#wlr-taskbar,
#pulseaudio.out,
#language,
#clock,
#cpu,
#battery,
#tray,
#custom-traffic,
#custom-notification,
#custom-user-menu,
#custom-power,
#custom-reboot {
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
    box-shadow: 0px 0px 5px @red;
}
#battery {
background-color: @yellow;
color: @crust;}

#battery:hover {
background-color: @overlay1;
color: @teal;
border-bottom: 2px solid @red;

}

#clock {
background-color: @overlay0;
color: @crust;

}

#clock:hover{
background-color: @overlay1;
color: @sky;
border-bottom: 2px solid @red;
}

#custom-traffic {
background-color: @blue;
color: @base;
}
#custom-traffic:hover{
background-color: @sky;
color: @crust;
border-bottom: 2px solid @red;
}
#cpu{
background-color: @teal;
color: @base;

}
#cpu:hover{
background-color: @flamingo;
color: @crust;
border-bottom: 2px solid @red;
}



#workspaces {
    margin: 5px 5px 5px 10px;
    padding: 0;
   /* border: solid 2px @red;
    border-radius: 6px; 
    box-shadow: 0px 0px 5px @red;*/
}

#workspaces button {
    color: @flamingo;
    margin: 0;
    padding: 0.2em 15px 0.2em 13px;
}

#workspaces button.visible {
    color: @red;
}

#workspaces button.empty:not(.visible) {
    color: @text;
}

#workspaces button:hover,
#workspaces button.empty:hover
{
    background-color: alpha(@maroon, 0.3);
    color: @base;
   }

#pulseaudio.out {
    background-color: @pink;
    color: @crust;


}

#language {
/*  background-color: alpha(@yellow, 0.7);*/
  background-color: @yellow;
  color: @crust;
}
#language:hover {
background-color: @maroon;
color: @crust;
border-bottom: 2px solid @red;

}


#pulseaudio.out:hover {
background-color: @rosewater;
color: @mantle;
border-bottom: 2px solid @red;

}
#language,
#pulseaudio.out, 
#wlr-taskbar,
#clock,
#cpu,
#battery,
#tray,
#custom-traffic,
#custom-notification,
#custom-user-menu,
#custom-power,
#custom-reboot {
    font-weight: bold;
    padding: 0 15px 0 13px;
    margin: 5px 2px;
    border: none;
}

#tray {
    background-color: @base;
    padding: 0px 15px;
}

#user {
    margin-right: 10px;
}

#custom-user-menu {
    color: @sky;
}

#custom-user-menu:hover {
    background-color: @red;
    color: @crust;
}

#custom-power {
    background-color: @maroon;
    color: @crust;
}

#custom-power:hover {
    background-color: @rosewater;
    color: @crust;
}

#custom-reboot {
    background-color: @sky;
    color: @crust;
}

#custom-reboot:hover {
    background-color: @blue;
    color: @crust;
}

#custom-notification.cc-open {
    background-color: @base;
}

#custom-notification.none {
    color: @text;
}
#custom-notification:hover{
    background-color: @teal;
    color: @crust;


}

#custom-notification.notification {
    background-color: @red;
    color: @crust;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none
{
    color: @red;
}
